extends layout
block content
  br
  h2(style={'text-align': 'center'}) Banco de dados: Uso de álcool nas escolas.
  br
  p
   a(href='javascript:void(0)' class='btn btn-primary' id='importdata' style:'margin-right:20px;') Importar CSV 
   |    
   a(href='javascript:void(0)' class='btn btn-primary' id='fetchdata' style={margin: '20px', background: 'green'}) Carregar Dados
   a(href='/Aluno/add' class='btn btn-primary' id='' style={background: '#800000'}) Adicionar novo aluno
  br  
  p#message.alert.alert-success(style='display:none')
  br
  table.table.table-bordered
    thead
        tr
            th #
            th ID
            th Escola
            th Sexo
            th Idade
            th Tempo de deslcamento
            th Turno
            th Repetência
            th Qualidade relacãço familiar
            th Edite
            th Delete
    tbody#trdata
        tr
            td(colspan='11' style={'text-align': 'center', 'padding-top':'110px', 'padding-bottom':'110px'}) Clique no botão <strong>Importar CSV</strong> para importar e salvar os dados no MongoDB. <br />Clique no botão <strong>Carregar Dados</strong> para exibir os dados do banco de dados. <br/> Para teste adicione:<strong> CESUSC</strong>, e delete o mesmo para confirmar que os comandos estão funcionando.